In [8]:
import pandas as pd
from config import *
from sqlalchemy import create_engine

In [2]:
regional_growth_load = "Pop_growth_CSVs/Aust_Data_Regional_Growth.csv"

In [4]:
regional_growth_data = pd.read_csv(regional_growth_load)
regional_growth_data

,LGA code,Local Government Area,2018,2019,Growth no.,Growth %,Natural increase no.,Net internal migration no.,Net overseas migration no.,Area (km2),Population density 2019 (persons/km2)
0,10050,Albury (C),53705,54353,648,1.2,262,125,261,305.9,177.7
1,10130,Armidale Regional (A),30681,30779,98,0.3,139,-379,338,8620.7,3.6
2,10250,Ballina (A),44172,44628,456,1.0,-11,286,181,484.9,92.0
3,10300,Balranald (A),2338,2338,0,0.0,11,-17,6,21690.7,0.1
4,10470,Bathurst Regional (A),43163,43618,455,1.1,209,91,155,3817.9,11.4
...,...,...,...,...,...,...,...,...,...,...,...
537,74550,Victoria Daly (R),3135,3155,20,0.6,45,-25,0,153287.1,0.0
538,74560,Wagait (S),508,519,11,2.2,4,6,1,5.6,92.1
539,74660,West Arnhem (R),6896,6881,-15,-0.2,52,-71,4,49675.0,0.1
540,74680,West Daly (R),3646,3693,47,1.3,38,7,2,14069.7,0.3
541,79399,Unincorporated NT,7373,7376,3,0.0,62,-78,19,19790.0,0.4

In [5]:
regional_growth_data["Local Government Area"] = regional_growth_data["Local Government Area"].str.replace(r"\(.*\)","")

In [6]:
regional_growth_data["Local Government Area"] = regional_growth_data["Local Government Area"].str.strip()

In [9]:
regional_growth_data.head(50)

,LGA code,Local Government Area,2018,2019,Growth no.,Growth %,Natural increase no.,Net internal migration no.,Net overseas migration no.,Area (km2),Population density 2019 (persons/km2)
0,10050,Albury,53705,54353,648,1.2,262,125,261,305.9,177.7
1,10130,Armidale Regional,30681,30779,98,0.3,139,-379,338,8620.7,3.6
2,10250,Ballina,44172,44628,456,1.0,-11,286,181,484.9,92.0
3,10300,Balranald,2338,2338,0,0.0,11,-17,6,21690.7,0.1
4,10470,Bathurst Regional,43163,43618,455,1.1,209,91,155,3817.9,11.4
5,10500,Bayside,174218,178396,4178,2.4,1344,-1709,4543,49.9,3575.8
6,10550,Bega Valley,34315,34476,161,0.5,-79,163,77,6278.9,5.5
7,10600,Bellingen,12953,12996,43,0.3,18,-12,37,1600.4,8.1
8,10650,Berrigan,8700,8750,50,0.6,-27,43,34,2065.8,4.2
9,10750,Blacktown,366078,374451,8373,2.3,4380,-310,4303,240.0,1559.9
10,10800,Bland,5979,5972,-7,-0.1,27,-41,7,8557.7,0.7
11,10850,Blayney,7334,7379,45,0.6,32,4,9,1524.6,4.8
12,10900,Blue Mountains,79191,79118,-73,-0.1,99,-549,377,1431.1,55.3
13,10950,Bogan,2618,2580,-38,-1.5,15,-59,6,14599.9,0.2
14,11150,Bourke,2626,2590,-36,-1.4,19,-57,2,41599.5,0.1
15,11200,Brewarrina,1653,1611,-42,-2.5,6,-49,1,19163.5,0.1
16,11250,Broken Hill,17715,17479,-236,-1.3,-6,-265,35,170.1,102.7
17,11300,Burwood,39864,40612,748,1.9,134,-798,1412,7.1,5697.5
18,11350,Byron,34545,35081,536,1.6,163,50,323,565.8,62.0
19,11400,Cabonne,13667,13634,-33,-0.2,23,-77,21,6022.3,2.3
20,11450,Camden,94029,101437,7408,7.9,1531,5573,304,201.0,504.6
21,11500,Campbelltown,167930,170943,3013,1.8,1799,-121,1335,311.9,548.1
22,11520,Canada Bay,95064,96074,1010,1.1,670,-927,1267,19.9,4822.2
23,11570,Canterbury-Bankstown,373486,377917,4431,1.2,3518,-4532,5445,110.2,3428.2
24,11600,Carrathool,2799,2799,0,0.0,29,-42,13,18934.5,0.1
25,11650,Central Coast,341693,343968,2275,0.7,593,357,1325,1681.1,204.6
26,11700,Central Darling,1835,1839,4,0.2,17,-24,11,53492.2,0.0
27,11720,Cessnock,59029,59985,956,1.6,294,581,81,1965.2,30.5
28,11730,Clarence Valley,51598,51662,64,0.1,-50,9,105,10428.7,5.0
29,11750,Cobar,4715,4658,-57,-1.2,42,-116,17,45579.3,0.1
30,11800,Coffs Harbour,76480,77277,797,1.0,138,176,483,1173.7,65.8
31,12000,Coolamon,4363,4341,-22,-0.5,13,-40,5,2430.9,1.8
32,12150,Coonamble,4008,3958,-50,-1.2,36,-88,2,9916.1,0.4
33,12160,Cootamundra-Gundagai Regional,11250,11235,-15,-0.1,-25,-5,15,3981.4,2.8
34,12350,Cowra,12753,12743,-10,-0.1,-35,8,17,2808.8,4.5
35,12380,Cumberland,236599,241521,4922,2.1,2871,-3329,5380,71.6,3375.5
36,12390,Dubbo Regional,53167,53719,552,1.0,393,-63,222,7534.5,7.1
37,12700,Dungog,9336,9423,87,0.9,9,72,6,2250.0,4.2
38,12730,Edward River,8984,9084,100,1.1,26,45,29,8883.4,1.0
39,12750,Eurobodalla,38253,38473,220,0.6,-208,337,91,3428.2,11.2
40,12850,Fairfield,210417,211695,1278,0.6,1237,-2772,2813,101.5,2085.5
41,12870,Federation,12450,12437,-13,-0.1,-36,-2,25,5685.0,2.2
42,12900,Forbes,9898,9906,8,0.1,13,-19,14,4710.1,2.1
43,12930,Georges River,158283,159471,1188,0.8,862,-3366,3692,38.3,4158.7
44,12950,Gilgandra,4221,4239,18,0.4,19,-17,16,4831.5,0.9
45,13010,Glen Innes Severn,8900,8871,-29,-0.3,-48,7,12,5480.0,1.6
46,13310,Goulburn Mulwaree,30823,31132,309,1.0,103,75,131,3220.1,9.7
47,13340,Greater Hume Shire,10675,10764,89,0.8,1,69,19,5749.5,1.9
48,13450,Griffith,26849,27029,180,0.7,174,-286,292,1639.2,16.5
49,13550,Gunnedah,12643,12681,38,0.3,107,-100,31,4987.0,2.5

In [10]:
regional_growth_data = regional_growth_data.rename(columns={"LGA code": "lga_code", "Local Government Area": "local_government_area",
                                    "2018": "pop_2018", "2019": "pop_2019", "Growth no.":"growth_no", "Growth %":"growth_per",
                                    "Natural increase no.": "births_no", "Net internal migration no.": "int_migration_no",
                                    "Net overseas migration no.":"os_migration_no", "Area (km2)":"lga_area", 
                                    "Population density 2019 (persons/km2)":"pop_density"})
regional_growth_data

,lga_code,local_government_area,pop_2018,pop_2019,growth_no,growth_per,births_no,int_migration_no,os_migration_no,lga_area,pop_density
0,10050,Albury,53705,54353,648,1.2,262,125,261,305.9,177.7
1,10130,Armidale Regional,30681,30779,98,0.3,139,-379,338,8620.7,3.6
2,10250,Ballina,44172,44628,456,1.0,-11,286,181,484.9,92.0
3,10300,Balranald,2338,2338,0,0.0,11,-17,6,21690.7,0.1
4,10470,Bathurst Regional,43163,43618,455,1.1,209,91,155,3817.9,11.4
...,...,...,...,...,...,...,...,...,...,...,...
537,74550,Victoria Daly,3135,3155,20,0.6,45,-25,0,153287.1,0.0
538,74560,Wagait,508,519,11,2.2,4,6,1,5.6,92.1
539,74660,West Arnhem,6896,6881,-15,-0.2,52,-71,4,49675.0,0.1
540,74680,West Daly,3646,3693,47,1.3,38,7,2,14069.7,0.3
541,79399,Unincorporated NT,7373,7376,3,0.0,62,-78,19,19790.0,0.4

In [11]:
connection_string = "{}:{}@localhost:5432/LGA_db".format(username, password)
engine = create_engine(f'postgresql://{connection_string}')

In [12]:
engine.table_names()

['blackout_spots',
 'location_id',
 'local_gov_area',
 'jurisdiction',
 'population_numbers',
 'population_growth',
 'pop_growth_type',
 'population_density']

In [13]:
lga_cols = ["local_government_area"]
lga_transformed = regional_growth_data[lga_cols].copy()
# lga_transformed.set_index("local_government_area", inplace=True)
# duplicate = lga_transformed[lga_transformed.duplicated(["local_government_area"], keep=False)]
# duplicate

lga_transformed = lga_transformed.drop_duplicates()
lga_transformed

    local_government_area
0                  Albury
1       Armidale Regional
2                 Ballina
3               Balranald
4       Bathurst Regional
..                    ...
537         Victoria Daly
538                Wagait
539           West Arnhem
540             West Daly
541     Unincorporated NT

[535 rows x 1 columns]

In [14]:
lga_transformed.to_sql(name='local_gov_area', con=engine, if_exists='append', index=False)

In [15]:
location_cols = ["lga_code", "local_government_area"]
location_transformed = regional_growth_data[location_cols].copy()
location_transformed.set_index("lga_code", inplace=True)
location_transformed

         local_government_area
lga_code
10050                   Albury
10130        Armidale Regional
10250                  Ballina
10300                Balranald
10470        Bathurst Regional
...                        ...
74550            Victoria Daly
74560                   Wagait
74660              West Arnhem
74680                West Daly
79399        Unincorporated NT

[542 rows x 1 columns]

In [16]:
location_transformed.to_sql(name='location_id', con=engine, if_exists='append', index=True)

In [17]:
pop_growth_cols = ["lga_code", "growth_no", "growth_per"]
growth_transformed = regional_growth_data[pop_growth_cols].copy()
growth_transformed.index.name = "growth_index"
growth_transformed

              lga_code  growth_no  growth_per
growth_index
0                10050        648         1.2
1                10130         98         0.3
2                10250        456         1.0
3                10300          0         0.0
4                10470        455         1.1
...                ...        ...         ...
537              74550         20         0.6
538              74560         11         2.2
539              74660        -15        -0.2
540              74680         47         1.3
541              79399          3         0.0

[542 rows x 3 columns]

In [18]:
growth_transformed.to_sql(name='population_growth', con=engine, if_exists='append', index=True)

In [19]:
pop_num_cols = ["lga_code", "pop_2018", "pop_2019"]
num_transformed = regional_growth_data[pop_num_cols].copy()
num_transformed.index.name = "pop_index"
num_transformed

           lga_code  pop_2018  pop_2019
pop_index
0             10050     53705     54353
1             10130     30681     30779
2             10250     44172     44628
3             10300      2338      2338
4             10470     43163     43618
...             ...       ...       ...
537           74550      3135      3155
538           74560       508       519
539           74660      6896      6881
540           74680      3646      3693
541           79399      7373      7376

[542 rows x 3 columns]

In [20]:
num_transformed.to_sql(name='population_numbers', con=engine, if_exists='append', index=True)

In [21]:
pop_density_cols = ["lga_code", "lga_area", "pop_density"]
density_transformed = regional_growth_data[pop_density_cols].copy()
density_transformed.index.name = "density_index"
density_transformed

               lga_code  lga_area  pop_density
density_index
0                 10050     305.9        177.7
1                 10130    8620.7          3.6
2                 10250     484.9         92.0
3                 10300   21690.7          0.1
4                 10470    3817.9         11.4
...                 ...       ...          ...
537               74550  153287.1          0.0
538               74560       5.6         92.1
539               74660   49675.0          0.1
540               74680   14069.7          0.3
541               79399   19790.0          0.4

[542 rows x 3 columns]

In [22]:
density_transformed.to_sql(name='population_density', con=engine, if_exists='append', index=True)

In [23]:
growth_type_cols = ["lga_code", "births_no", "int_migration_no", "os_migration_no"]
growth_type_transformed = regional_growth_data[growth_type_cols].copy()
growth_type_transformed.index.name = "growth_type_index"
growth_type_transformed

                   lga_code  births_no  int_migration_no  os_migration_no
growth_type_index
0                     10050        262               125              261
1                     10130        139              -379              338
2                     10250        -11               286              181
3                     10300         11               -17                6
4                     10470        209                91              155
...                     ...        ...               ...              ...
537                   74550         45               -25                0
538                   74560          4                 6                1
539                   74660         52               -71                4
540                   74680         38                 7                2
541                   79399         62               -78               19

[542 rows x 4 columns]

In [24]:
growth_type_transformed.to_sql(name='pop_growth_type', con=engine, if_exists='append', index=True)